@import "tailwindcss";

@theme {
  --color-brand-blue: #0f074d;
  --color-brand-blue-dark: #0a0438;
  --color-brand-blue-light: #160d70;
  --color-brand-red: #E63946;
  --color-brand-red-hover: #d62230;
}
